
body {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231229/pngtree-blue-canvas-with-intricate-texture-image_13702749.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  margin: 0;
  padding: 0; 
  height: 100vh; 
}